@font-face {
  font-family: "Buch";
  src: url("/fonts/buch.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Leicht";
  src: url("/fonts/leicht.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}

@layer base {
  body {
    @apply font-sans m-0 p-0 text-black text-base;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .formatted-text p {
    @apply text-base lg:text-lg;
  }

  .formatted-text h2 {
    @apply text-2xl lg:text-5xl;
  }

  .formatted-text h3,
  .formatted-text h5 {
    @apply text-xl lg:text-3xl;
  }

  .prose ul {
    @apply my-2 pl-4 xl:my-4;
  }

  .prose ol {
    @apply my-2 xl:my-4;
    counter-reset: my-awesome-counter;
  }

  .prose ul li {
    @apply relative py-[3px] after:absolute after:top-[12px] xl:after:top-[12px] after:-left-4 after:h-[7px] after:w-[7px] after:rotate-45 after:rounded-full after:bg-blue xl:my-1;
  }

  .prose ol li {
    @apply relative py-[3px] pl-4 before:absolute before:-left-0 before:pr-1 before:font-bold before:text-blue xl:pl-6 xl:py-1;
    counter-increment: my-awesome-counter;
  }

  .prose ol li:before {
    content: counter(my-awesome-counter) ". ";
  }

  .triangle {
    @apply w-0 h-0;
  }

  .container-fluid {
    @apply px-6 md:px-10 lg:px-6 max-w-[1920px] mx-auto xl:relative;
  }

  .container {
    @apply xl:max-w-[1110px] 3xl:max-w-[1430px];
  }

  .border-logo {
    @apply border-l border-dotted border-gray border-t even:border-r md:even:border-r-0;
  }

  .border-logo:nth-child(4n + 4) {
    @apply md:border-r md:border-dotted md:border-gray;
  }

  .vertical-spaces {
    @apply grid gap-16 py-20 lg:py-28 xl:py-32 xl:gap-28 2xl:gap-32 2xl:py-44 z-10 relative;
  }

  .margin-scroll-standard {
    @apply scroll-mt-8 md:scroll-mt-24 lg:scroll-mt-32;
  }

  .subtitleHero {
    @apply text-lg max-w-prose xl:text-xl;
  }
  .subtitleHero a,
  .prose p a,
  .paragraph a {
    @apply border-blue border-b-2 hover:text-blue duration-200;
  }
  .prose u {
    @apply no-underline;
  }
}


.padding-left-container {
  @apply pl-6 md:pl-[calc(((100vw-780px)/2)+2.5rem)] lg:pl-[calc(((100vw-885px)/2)+2.5rem)] xl:pl-[calc(((100vw-1040px)/2)+2.5rem)] 3xl:pl-[calc(((100vw-1305px)/2)+2.5rem)];
}

.triangle {
  border-width: 5px 4.5px 0 4.5px;
  border-color: white transparent transparent transparent;
  border-style: solid;
}

.fill-gradient-red {
  fill: linear-gradient(270deg, #ff6d91 32.23%, #ff916e 97.94%);
}

.triangle-black {
  border-width: 5px 4.5px 0 4.5px;
  border-color: black transparent transparent transparent;
  border-style: solid;
}

@media (prefers-reduced-motion) {
  html {
    scroll-behavior: auto;
  }
}

@media (max-width: 1023px) {
  .unwrapped-on-mobile {
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
  }
}

.unwrapped {
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}

.unwrapped-on-right {
  margin-right: calc(-50vw + 50%);
}

.underline-on-hover::after {
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.3s;
  @apply absolute h-[2px] w-full -bottom-1 left-0;
}

.underline-on-hover:hover::after {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1);
}

.underline-on-hover,
.underline-default {
  @apply relative;
}

.underline-default::after {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1);
  transition: transform 0.3s;
  @apply absolute h-[2px] w-full -bottom-1 left-0;
}

.underline-default:hover::after {
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
}

.custom-border,
.custom-border-top {
  background-image: linear-gradient(
    to right,
    black 33%,
    rgba(255, 255, 255, 0) 0%
  );
  @apply after:absolute after:bottom-0 after:bg-bottom bg-repeat-x bg-[length:6px_1px] before:absolute after:bg-repeat-x after:bg-[length:6px_1px] after:h-1 after:w-full before:bg-repeat-y before:bg-[length:1px_6px] before:top-0 before:bottom-0 before:h-full before:w-1 before:bg-left;
}
.custom-border-bottom {
  background-image: linear-gradient(
    to right,
    black 33%,
    rgba(255, 255, 255, 0) 0%
  );
}
.custom-border:after {
  background-image: linear-gradient(
    to right,
    black 33%,
    rgba(255, 255, 255, 0) 0%
  );
}
.custom-border-bottom {
  @apply bg-bottom bg-repeat-x bg-[length:6px_1px];
}
.custom-border-right,
.custom-border:before {
  background-image: linear-gradient(black 33%, rgba(255, 255, 255, 0) 0%);
}
.custom-border-right {
  @apply absolute w-full h-full top-0 bg-repeat-y bg-right bg-[length:1px_6px];
}

strong {
  @apply font-bold;
}

.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.embla__dot {
  -webkit-appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
}

.embla__dots {
  z-index: 10;
  bottom: 1.6rem;
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.embla__dot {
  width: 2.4rem;
  height: 2.4rem;
  display: flex;
  align-items: center;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

.embla__dot:after {
  background: #eee;
  border-radius: 0.2rem;
  width: 100%;
  height: 0.3rem;
  content: "";
}

.embla__dot--selected:after {
  background: white;
}


.swiper-pagination-bullet  {
  width: 15px !important;
  height: 15px !important;
}

.swiper-pagination-bullet.active{
  background: white;
  width: 15px;
  height: 15px;
  opacity: 1;
}

.swiper-pagination {

  bottom: 10rem !important;

}
